<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
<section>
    <div class="container-fluid mt-3 mt-md-5 p-3 p-md-5">
        <div class="card card-sh">
            <div class="card-header text-center">
                <p class="fs-4">View Cart</p>
                <th:block th:if="${session.succMsg}">
                    <p class="text-success text-center fw-bold">[[${session.succMsg}]]</p>
                    <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                </th:block>

                <th:block th:if="${session.errorMsg}">
                    <p class="text-danger text-center fw-bold">[[${session.errorMsg}]]</p>
                    <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                </th:block>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Si No</th>
                            <th scope="col">Image</th>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="cart,c:${carts}">
                            <th scope="row">[[${c.count}]]</th>
                            <td>
                                <img th:if="${cart.product.image != null and !cart.product.image.isEmpty()}"
                                     th:src="${cart.product.image}"
                                     width="60px"
                                     height="60px"
                                     class="img-fluid"
                                     th:alt="${cart.product.title}"
                                     onerror="this.src='/img/default-product.png'" />
                                <img th:unless="${cart.product.image != null and !cart.product.image.isEmpty()}"
                                     src="/img/default-product.png"
                                     width="60px"
                                     height="60px"
                                     class="img-fluid"
                                     th:alt="${cart.product.title}" />
                            </td>
                            <td>[[${cart.product.title}]]</td>
                            <td>$[[${cart.product.discountPrice}]]</td>
                            <td class="text-center text-nowrap">
                                <a th:href="@{'/user/cartUpdate?action=de&cid='+${cart.id}}"><i class="fa-solid fa-minus"></i></a>
                                [ [[${cart.quantity}]] ]
                                <a th:href="@{'/user/cartUpdate?action=in&cid='+${cart.id}}"><i class="fa-solid fa-plus"></i></a>
                            </td>
                            <td>$[[${cart.totalPrice}]]</td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td class="fw-bold">Total Price</td>
                            <td>$[[${totalOrderPrice}]]</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center mt-3">
                    <a href="/user/orders" class="btn btn-primary">Proceed Payment</a>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>