<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Ecommerce-with-Spring</title>
</head>
<body>
<section>
    <!-- Start Slider -->
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/img/ecom3.jpg" class="d-block w-100 slider-image" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/img/ecom2.jpg" class="d-block w-100 slider-image" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/img/ecom1.png" class="d-block w-100 slider-image" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button"
                data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button"
                data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- End Slider -->

    <!-- Start Category Module -->
    <div class="container mt-4">
        <p class="text-center fs-4">Category</p>
        <div class="row justify-content-center">
            <div class="col-md-2 text-center">
                <div class="category-circle">
                    <img src="/img/category_img/appli.png" alt="Electronics">
                </div>
                <p>Electronics</p>
            </div>
            <div class="col-md-2 text-center">
                <div class="category-circle">
                    <img src="/img/category_img/beuty.png" alt="Beauty">
                </div>
                <p>Beauty</p>
            </div>
            <div class="col-md-2 text-center">
                <div class="category-circle">
                    <img src="/img/category_img/pant.png" alt="Clothes">
                </div>
                <p>Clothes</p>
            </div>
            <div class="col-md-2 text-center">
                <div class="category-circle">
                    <img src="/img/category_img/monitor.jpg" alt="Monitor">
                </div>
                <p>Monitor</p>
            </div>
            <div class="col-md-2 text-center">
                <div class="category-circle">
                    <img src="/img/category_img/laptop.jpg" alt="Laptop">
                </div>
                <p>Laptop</p>
            </div>
            <div class="col-md-2 text-center">
                <div class="category-circle">
                    <img src="/img/category_img/groccery.jpg" alt="Trinkets">
                </div>
                <p>Trinkets</p>
            </div>
        </div>
    </div>
    <!-- End Category Module -->

    <!-- Start Latest Product Module -->
    <div class="container-fluid bg-light p-3 mt-5">
        <p class="text-center fs-4">Latest Product</p>
        <div class="row justify-content-center">
            <div class="col-md-3 text-center mb-4">
                <div class="product-card">
                    <img src="/img/product_img/grinder.jpg" alt="Grinder">
                </div>
                <p>Grinder</p>
            </div>
            <div class="col-md-3 text-center mb-4">
                <div class="product-card">
                    <img src="/img/product_img/iphone-14.jpg" alt="Iphone 14">
                </div>
                <p>Iphone 14</p>
            </div>
            <div class="col-md-3 text-center mb-4">
                <div class="product-card">
                    <img src="/img/product_img/oneplus-mobile.jpg" alt="One Plus Mobile">
                </div>
                <p>One Plus Mobile</p>
            </div>
            <div class="col-md-3 text-center mb-4">
                <div class="product-card">
                    <img src="/img/product_img/fridge.png" alt="Fridge">
                </div>
                <p>Fridge</p>
            </div>
        </div>
    </div>
    <!-- End Latest Product Module -->
</section>
</body>
</html>